@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

/* CSS RESET */
html,body{padding:0; margin:0; width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6, ul,p{font-size:100%; line-height:1; margin:0; padding:0; font-weight: normal;}
li{list-style: none;}
img {vertical-align: top;}
.hidden {display:none;}

/* LAYOUT */
main, main section{
    padding: 60px 0;
}

/* COMMON ELEMETNS - TYPOGAPHY */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #495662; 
    line-height:1;
    background: #f4f6f8;
}
a {
    color: #495662;
    text-decoration: none;  
}

.jumbotron h2{
    font-size: 52px;
    color: #ff5912;
    font-weight: 800;
    margin-bottom: 30px;
}
.jumbotron h3{
    color: #3c4751;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 600;
}
.jumbotron p{
    margin-bottom: 60px;
}
.content_title{
    font-size: 36px;
    font-weight: 800;    
    color: #34404b;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.content_title span{
    color: #ff5912;
}
.content_desc{
    text-align: center;
    margin-bottom: 82px;    
}

/* COMMON ELEMETNS - LINK, BUTTON, IMAGE, TITLES, SHADOW */
.sprites {
    background: url(../images/sprites.png) no-repeat;
    display:block;
    text-indent: -9999em;
}

/*  HEADER */
header{
    
    position: relative;
    z-index:1;
}
header .top_navigation{
    border-bottom:1px solid #e6e8eb;
    padding:22px 0;
    background:#fff;
}
.contact_list, .social_list {
    display: flex;
}
.contact_list li{
    margin-right: 20px;
    display: flex;
    font-size:12px;
    line-height: 16px;
}
.social_list li{
    margin-left: 20px;
}
.contact_list li span{
    margin-right: 10px;
}
.envelope {
    width:18px;
    height:16px;
    background-position: 0 2px;
}
.phone{
    width:12px;
    height: 16px;
    background-position:-30px 2px;
}
.social_list li a{
    font-size: 12px;
    line-height: 20px;
    color: #563540;
}
.main_navigation{
    padding: 41px;
    background:#fff;
    border-bottom:1px solid #e6e8eb;    
}
.gnb, .gnb ul {
    display: flex;
}
.logo {margin-right: 81px;}
.logo a {
    width: 118px;
    height: 58px;
    background:url(../images/SMElogomini.png) no-repeat;
    text-indent: -9999em;
    display: block;
}
.gnb ul li{
    margin-right: 41px;
}
.gnb ul li a{
    line-height: 39px;
    color: #34404b;
}
.gnb ul li a:hover{
    color: #ff5912;
}
.search_btn {
    width: 18px;
    height: 18px;
    background-position:-60px 0;
}
.mypage{
    width: 21px;
    height: 21px;
    background-position:-90px 0;
}
.cart{
    width: 24px;
    height: 17px;
    background-position:-120px 0;
    position: relative;
}
.shopping_nav .sprites:hover{
    background-position-y: -30px;
}
.shopping_nav{
    display: flex;
}
.shopping_nav li{
    margin-left: 34px;
    display: flex;
    align-items: center;    
}

.shopping_nav .cart:before{
    content:attr(data-cart);
    background:#34404b;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    width: 18px;
    height: 18px;
    border-radius:50%;
    bottom:calc(100% + 2px);
    font-size: 10px;
    color:#fff;
    text-indent: 0;
    text-align: center;
    line-height: 18px;
}
header form{
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
    text-align: center;
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    background: #fff;
    top: 0;
    z-index:-1;
    transition:0.5s;
}
header form.active{
    top:calc(100% + 1px);
}

header form input[type="text"]{
    height: 40px;
    border:none;
    border-bottom:1px solid #34404b;
    width: 540px;
    display:inline-block;
    margin-right:10px;
    outline:none;
}
header form input[type="text"]:focus{
    border-bottom-color:#3498db;
}
header form input[type="submit"]{
    display:inline-block;
    border:none;
    vertical-align: bottom;
}