<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>example</display-name>

	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/error/401.html</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/WEB-INF/error/402.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/error/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/error/405.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error/500.html</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>

	<!-- JSPF파일 설정 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/resources/jspf/header.jspf
			</include-prelude>
			<include-coda>/resources/jspf/footer.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>

	<!-- 한글인코딩 (UTF-8) -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- cors 필터링 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>cors</filter-name>
	    <filter-class>com.example.cors.CorsFilter</filter-class>   
	</filter>
	<filter-mapping>
	    <filter-name>cors</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 기본적으로 applicationContext를 불러들인다 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<security-constraint>
		<display-name>JSP Protection</display-name>
		<web-resource-collection>
			<web-resource-name>SecureJSPPages</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>nobody</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>
			Nobody should be in this role so JSP files are protected
			from direct access.
		</description>
		
		<role-name>nobody</role-name>
	</security-role>
	
	<!-- Processes application requests -->
	<!-- *-servlet.xml을 불러드린다 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/*-servlet.xml</param-value>
		</init-param>
		<!-- 메모리 누수 방지 -->
		<init-param>
			<param-name>enablePooling</param-name>
			<param-value>false</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 스프링 설정파일을 읽어오기 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/context-*.xml</param-value>
	</context-param>

</web-app>
